Repository google/docsy, pull requests merged in 2022-07, with the labels that each got.

#1087 User guide: fixing typos
  userguide/content/en/docs/Best practices/organizing-content.md
  userguide/content/en/docs/Get started/other-options.md
  userguide/content/en/docs/Updating/Updating-submodules.md
Labels: user guide

#1107 User guide, installation: fix markup of tabbed pane
  netlify.toml
  userguide/content/en/docs/Get started/Docsy-As-Module/installation-prerequisites.md
  userguide/content/en/docs/Get started/Docsy-As-Module/start-from-scratch.md
  userguide/content/en/docs/Updating/Updating-hugo-module.md
Labels: user guide

#1117 Support project-level NPM modules for BS and FA
  config.toml
Labels: infrastructure

#1118 User guide: run markdown prettifier on other-options.md
  package.json
  userguide/content/en/docs/Get started/other-options.md
  userguide/content/en/docs/get-started/_index.md
  userguide/content/en/docs/get-started/basic-configuration.md
  userguide/content/en/docs/get-started/docsy-as-module/_index.md
  userguide/content/en/docs/get-started/docsy-as-module/example-site-as-template.md
  userguide/content/en/docs/get-started/docsy-as-module/installation-prerequisites.md
  userguide/content/en/docs/get-started/docsy-as-module/start-from-scratch.md
  userguide/content/en/docs/get-started/known_issues.md
  userguide/content/en/docs/get-started/other-options.md
  userguide/content/en/docs/get-started/quickstart-docker.md
Labels: cleanup/refactoring

#1119 Document use of Docsy as an NPM package
  userguide/content/en/docs/get-started/other-options.md
Labels: user guide

#1126 UG: improve docsy-as-submodule instructions
  userguide/content/en/docs/get-started/other-options.md
Labels: user guide

#1129 UG > adding-content folder rename
  userguide/content/en/docs/adding-content/_index.md
  userguide/content/en/docs/adding-content/content.md
  userguide/content/en/docs/adding-content/diagrams-and-formulae/docsy-diagrams.svg
  userguide/content/en/docs/adding-content/diagrams-and-formulae/index.md
  userguide/content/en/docs/adding-content/feedback.md
  userguide/content/en/docs/adding-content/iconsimages.md
  userguide/content/en/docs/adding-content/lookandfeel.md
  userguide/content/en/docs/adding-content/navigation.md
  userguide/content/en/docs/adding-content/print.md
  userguide/content/en/docs/adding-content/repository-links.md
  userguide/content/en/docs/adding-content/shortcodes/flags/de.png
  userguide/content/en/docs/adding-content/shortcodes/flags/tz.png
  userguide/content/en/docs/adding-content/shortcodes/flags/uk.png
  userguide/content/en/docs/adding-content/shortcodes/includes/config.yaml
  userguide/content/en/docs/adding-content/shortcodes/includes/installation.md
  userguide/content/en/docs/adding-content/shortcodes/index.md
  userguide/content/en/docs/adding-content/shortcodes/spruce.jpg
  userguide/content/en/docs/adding-content/taxonomy.md
  userguide/content/en/docs/adding-content/versioning.md
Labels: user guide, cleanup/refactoring

#1131 UG: prettify feedback page
  userguide/content/en/docs/adding-content/feedback.md
Labels: cleanup/refactoring

#1132 UG feedback: update SEO page
  userguide/content/en/docs/adding-content/feedback.md
Labels: user guide, cleanup/refactoring

#1134 404 layout: fix relURL argument
  layouts/404.html
Labels: cleanup/refactoring
