Repository google/docsy, pull requests merged in 2022-06, with the labels that each got.

#1038 User guide: remove content related to Blackfriday (unsupported)
  userguide/config.toml
  userguide/content/en/docs/Adding content/content.md
  userguide/content/en/docs/Best practices/site-guidance.md
Labels: user guide

#1011 Add breadcrumbs to taxonomy result list
  assets/scss/_taxonomy.scss
  layouts/_default/taxonomy.html
  layouts/partials/breadcrumb.html
Labels: taxonomy

#1034 User guide: correct outdated flag --i18n-warnings
  package.json
  userguide/content/en/docs/Language/_index.md
Labels: user guide

#1067 Upgrade Hugo to 0.101.0
  package.json
Labels: infrastructure

#1069 Set NPM package version to 0.4.0-dev
  package.json
  userguide/package.json
Labels: admin

#1073 Remove obsolete git-submodule scripts from UG package.json
  userguide/package.json
Labels: infrastructure
