Repository google/docsy, pull requests merged in 2022-10, with the labels that each got.

#1213 Userguide, installation via npm: correct themes directory
  package.json
  userguide/content/en/docs/get-started/other-options.md
Labels: user guide

#1190 Navbar-brand: define classes for the logo and name
  CHANGELOG.md
  assets/scss/_nav.scss
  layouts/partials/navbar.html
  userguide/config.yaml
  userguide/content/en/docs/adding-content/iconsimages.md
  userguide/content/en/docs/adding-content/lookandfeel.md
Labels: user guide, design/style, breaking change, changelog

#1209 User guide, conversion to modules: fixing config.yaml
  userguide/content/en/docs/Updating/Convert-site-to-module.md
  userguide/content/en/docs/adding-content/content.md
  userguide/content/en/docs/adding-content/diagrams-and-formulae/index.md
  userguide/content/en/docs/adding-content/shortcodes/index.md
Labels: user guide

#1262 Scripts tweak to cleanup whitespace etc
  layouts/partials/scripts.html
Labels: cleanup/refactoring

#1255 Apply styling to all elements in td-content
  assets/scss/_content.scss
Labels: design/style

#1282 Fix: hugo serve does not serve Font Awesome anymore #1281
  dependencies/config.toml
Labels: dependencies, module

#1284 Module setup: update docsy/dependencies to tip of main
  go.mod
  go.sum
Labels: module
