Repository google/docsy, pull requests merged in 2022-01, with the labels that each got.

#841 Simplify setup: install Hugo automatically (and get the right version) using NPM
  netlify.toml
  package.json
Labels: netlify, infrastructure

#815 Update es.toml
  i18n/es.toml
Labels: i18n

#832 fix: there is no need existing two i18n/zh*.toml files
  i18n/zh.toml
Labels: i18n

#859 CI: reintroduce explicit call to npm install
  netlify.toml
Labels: netlify, infrastructure

#860 Effectively revert #801, removing docsy as a Hugo module
  config.toml
  go.mod
  go.sum
  userguide/config.toml
  userguide/go.mod
  userguide/go.sum
Labels: infrastructure, module
