Repository google/docsy, pull requests merged in 2022-04, with the labels that each got.

#802 User guide: adding instructions on how to use and update docsy as hugo module
  netlify.toml
  package.json
  userguide/config.toml
  userguide/content/en/docs/Adding content/Shortcodes/index.md
  userguide/content/en/docs/Deployment/_index.md
  userguide/content/en/docs/Getting started/_index.md
  userguide/content/en/docs/Language/_index.md
  userguide/content/en/docs/Theme installation/Docsy-As-Module/_index.md
  userguide/content/en/docs/Theme installation/Docsy-As-Module/example-site-as-template.md
  userguide/content/en/docs/Theme installation/Docsy-As-Module/installation-prerequisites.md
  userguide/content/en/docs/Theme installation/Docsy-As-Module/start-from-scratch.md
  userguide/content/en/docs/Theme installation/_index.md
  userguide/content/en/docs/Theme installation/basic-configuration.md
  userguide/content/en/docs/Theme installation/known_issues.md
  userguide/content/en/docs/Theme installation/other-options.md
  userguide/content/en/docs/Theme installation/quickstart-docker.md
  userguide/content/en/docs/Updating/Convert-site-to-module.md
  userguide/content/en/docs/Updating/Updating-hugo-module.md
  userguide/content/en/docs/Updating/Updating-submodules.md
  userguide/content/en/docs/Updating/_index.md
  userguide/content/en/docs/_index.md
Labels: user guide

#961 NPM package: change version to 0.2.0
  README.md
  package.json
Labels: infrastructure

#953 create first Docsy blog post
  userguide/config.toml
  userguide/content/en/blog/2022/hello.md
Labels: blog

#972 User guide, package.json: add name and version
  userguide/package.json
Labels: user guide, infrastructure

#985 Fix search input for latest version of Algolia
  CHANGELOG.md
  layouts/partials/search-input.html
  userguide/content/en/docs/Adding content/navigation.md
Labels: breaking change
