Repository google/docsy, pull requests merged in 2023-06, with the labels that each got.

#1529 Bump dependency Font-Awesome to latest version 6.4.0
  dependencies/go.mod
  dependencies/go.sum
  go.mod
  go.sum
  package.json
  userguide/content/en/docs/Updating/Convert-site-to-module.md
Labels: module

#1536 package.json: rename cSpell:ignore entry tag to "spelling"
  package.json
Labels: infrastructure

#1535 Blog on bootstrap-5 migration
  userguide/content/en/blog/2023/bootstrap-5-migration.md
Labels: blog

#1551 Add top-level NPM test script
  package.json
Labels: infrastructure

#1567 UG, start page: improve Download CTA button (#1389)
  userguide/content/en/_index.md
Labels: UX

#1578 User guide: reflect updates in example site
  userguide/content/en/docs/adding-content/content.md
  userguide/content/en/docs/adding-content/shortcodes/index.md
  userguide/content/en/docs/get-started/basic-configuration.md
Labels: user guide, e0-minutes

#1577 User guide, installation from example site: clone latest tagged version
  userguide/content/en/docs/get-started/docsy-as-module/example-site-as-template.md
Labels: user guide

#1579 Improve compile-time detection of Bootstrap version
  CHANGELOG.md
  assets/scss/main.scss
  assets/scss/support/_bootstrap_vers_test.scss
Labels: dependencies

#1565 User guide: rename mixed-case folders and file names containing space
  userguide/content/en/docs/best-practices/_index.md
  userguide/content/en/docs/best-practices/organizing-content.md
  userguide/content/en/docs/best-practices/site-guidance.md
  userguide/content/en/docs/contribution-guidelines/_index.md
  userguide/content/en/docs/deployment/_index.md
  userguide/content/en/docs/examples/_index.md
  userguide/content/en/docs/language/_index.md
  userguide/content/en/docs/updating/_index.md
  userguide/content/en/docs/updating/convert-site-to-module.md
  userguide/content/en/docs/updating/updating-hugo-module.md
  userguide/content/en/docs/updating/updating-submodules.md
Labels: user guide, cleanup/refactoring

#1584 User guide, search: fix quoting of argument
  userguide/content/en/docs/adding-content/navigation.md
  userguide/content/en/docs/adding-content/shortcodes/index.md
Labels: user guide

#1580 Whitespace cleanup in selected layouts
  layouts/_default/content.html
  layouts/_default/taxonomy.html
  layouts/_default/terms.html
  layouts/blog/content.html
  layouts/blog/list.html
  layouts/docs/list.html
  layouts/partials/taxonomy_terms_article.html
  layouts/partials/taxonomy_terms_article_wrapper.html
  layouts/partials/taxonomy_terms_cloud.html
  layouts/partials/taxonomy_terms_clouds.html
  layouts/swagger/list.html
Labels: cleanup/refactoring

#1589 User guide: replace config.[toml|yaml] with hugo.[toml|yaml]
  userguide/content/en/docs/adding-content/lookandfeel.md
  userguide/content/en/docs/get-started/docsy-as-module/example-site-as-template.md
  userguide/content/en/docs/get-started/docsy-as-module/installation-prerequisites.md
  userguide/content/en/docs/get-started/docsy-as-module/start-from-scratch.md
  userguide/content/en/docs/get-started/other-options.md
  userguide/content/en/docs/updating/convert-site-to-module.md
Labels: user guide

#1590 User guide: do not enable mermaid and scripts globally
  userguide/hugo.yaml
Labels: user guide, e0-minutes
