Repository google/docsy, pull requests merged in 2023-08, with the labels that each got.

#1642 User guide Print page: move tabs to separate pane to eliminate warning
  userguide/content/en/docs/adding-content/print.md
Labels: user guide

#1644 Fix creation of new child page
  layouts/partials/page-meta-links.html
Labels: e0-minutes, fix

#1651 Algolia search, fix: show search box in the sidebar
  layouts/partials/search-input.html
  userguide/content/en/docs/adding-content/search.md
Labels: search

#1668 Whitespace cleanup in layouts/partials/scripts.html
  layouts/partials/scripts.html
Labels: cleanup/refactoring
