Repository google/docsy, pull requests merged in 2023-07, with the labels that each got.

#1607 tabpane: use `data-` attribute instead of class name
  layouts/shortcodes/tabpane.html
  static/js/tabpane-persist.js
Labels: cleanup/refactoring

#1612 UG, blog post on migration to BS 5: fix broken links
  userguide/content/en/blog/2023/bootstrap-5-migration.md
Labels: bootstrap, e0-minutes, blog

#1352 Split Navigation and Search pages
  userguide/content/en/docs/adding-content/navigation.md
  userguide/content/en/docs/adding-content/search.md
  userguide/content/en/docs/deployment/_index.md
  userguide/content/en/docs/get-started/basic-configuration.md
Labels: user guide, cleanup/refactoring

#1611 Tabpane: support persistence of all active tabs
  layouts/shortcodes/tabpane.html
  static/js/tabpane-persist.js
Labels: enhancement
