Repository google/docsy, pull requests merged in 2025-04, with the labels that each got.

#2215 user guide: fix preview with latest hugo version 0.146.5
  layouts/partials/head.html
Labels: user guide

#2223 Rename Docsy's render-heading hook and helper partial
  CHANGELOG.md
  layouts/partials/td/render-heading.html
  userguide/content/en/docs/adding-content/navigation.md
  userguide/layouts/_default/_markup/render-heading.html
  userguide/static/refcache.json
Labels: user guide, cleanup/refactoring

#2228 Update pkgs: Hugo to 0.147.0, etc
  package.json
Labels: dependencies, CI/infra

#2229 [UG] Taxonomy page copyedited & prettified
  userguide/.prettierignore
  userguide/content/en/docs/adding-content/taxonomy.md
Labels: user guide
